{#{% extends "_base.html" %}#}
{#{% load allauth i18n %}#}
{#{% block page_title %}#}
{#    {% trans "Sign Out" %}#}
{#{% endblock page_title %}#}
{#{% block content %}#}
{#    {% element h1 %}#}
{#        {% trans "Sign Out" %}#}
{#    {% endelement %}#}
{#    <p>{% trans 'Are you sure you want to sign out?' %}</p>#}
{#    {% url 'account_logout' as action_url %}#}
{#    {% element form method="post" action=action_url no_visible_fields=True %}#}
{#        {% slot body %}#}
{#            {% csrf_token %}#}
{#            {% if redirect_field_value %}#}
{#                <input type="hidden"#}
{#                       name="{{ redirect_field_name }}"#}
{#                       value="{{ redirect_field_value }}" />#}
{#            {% endif %}#}
{#        {% endslot %}#}
{#        {% slot actions %}#}
{#            {% element button type="submit" %}#}
{#                {% trans 'Sign Out' %}#}
{#            {% endelement %}#}
{#        {% endslot %}#}
{#    {% endelement %}#}
{#{% endblock content %}#}
{##}
{##}


{% extends '_base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block page_title %} Log Out {% endblock %}

{% block style %}
	<link rel="stylesheet" href="../../static/css/_base.css">
{% endblock %}

{% block content %}
    <h1>Logout</h1>
    <form action="" method="post">
        {{ form | crispy }}
        {% csrf_token %}
        <button id="foot">
            <button class="button-os"  value="Log Out">
                <a href="#">Logout</a>
            </button>
        </button>
{#        <input type="submit" value="Log Out">#}
    </form>
{% endblock %}
